.heade{
    background-color: whitesmoke;
    width: 100%;
    height: 6rem;
    padding: 0rem 5rem;
    border-bottom: 0.01rem solid hwb(0 0% 100%);
    
}
.ico{
    width: 4rem;
    float: left;
    margin-left: 2rem;
    margin-top: 0.9rem;
}
.usuario{
    color: black;
    font-size: 3rem;
    float: left;
    margin-left: 1rem;
    margin-top: 0.8rem;
}

.contenido{
    width: 84rem;
    height: 133vh;
    border: 1px solid black; 
    margin: auto; 
    padding: 5rem 3rem ;
}

.lista-propiedades{
    list-style: none;
    font-size: 1.8rem;
    float: left;
}

.lista-propiedades li{
    background-color: antiquewhite;
    border-left: 1px solid black;
    width: 26rem;
    margin: 1rem 0rem;
    padding: 0.5rem;
}

.lista-propiedades li:hover{
    background-color: burlywood;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

.articulo{
    width: 83ch;
    height: 123lvh;
    background-color: antiquewhite;
    float: right;
}

.articulo h2{
    font-size: 3rem;
    text-align: center;
}

.descripcion{
    font-size: 1.7rem;
    margin-top: 2rem;
    text-align: center;
}
/* seccion de la tabal*/
.tabla{
    
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}
.tabla tr td{
    padding: 0.5rem;
}
.tabla td{
    font-size: 1.5rem;
}
.titulo-tabla{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;

}
.campos{
    font-size: 1.6rem;
    font-weight: 600;
}   